
@font-face {
  font-family: 'Asap';
  font-weight: 400;
  src: url('assets/Asap-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Asap';
  font-weight: 600;
  src: url('assets/Asap-SemiBold.ttf') format('ttf');
}

body {
  margin: 0;
  font-family: 'Asap', Arial, Tahoma, PingFangSc,
    sans-serif, "Segoe UI Emoji","Noto Emoj";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
